* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/*PRIMEIRA PÁGINA - HTML */
.contenedorInicio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

body {
    background-image: url(https://images.alphacoders.com/805/thumb-1920-805180.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.botãoiniciar {
    background-color: rgba(81, 81, 81, 0.558);
    border: 3.0px solid #000000;
    width: 5.5vw;
    height: 2vw;
    text-align: center;
    font-size: 1.3vw;
    border-radius: 1vw;
    margin-top: -4vw;
    margin-left: 45.5vw;
    z-index: 1;
    transition: transform 0.2s ease-in-out;
}

.botãoiniciar:hover {
    transform: scale(1.5);
}


a {
    text-decoration: none;
    color: white;
}

.imagem1 {
    margin-top: -5.5vw;
    margin-left: 27vw;
}

.imagem2 {
    margin-top: -4vw;
    margin-left: 28vw;
}

.body2 {
    background: url(https://images.alphacoders.com/805/thumb-1920-805180.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background: rgba(25, 25, 25, 0.915);
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 75px;
    z-index: -1;
}

#botãohome {
    margin-left: -1%;
    position: fixed;
    float: left;
    margin-top: 10px;
    z-index: 1;
}

.padrãobox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 90px;
    margin-left: 400px;
    float: left;
    position: fixed;

}

.filtro {
    margin-right: 55%;
    width: 140px;
    height: 100px;
    text-align: flex;
}


select {
    background-color: rgb(81, 255, 0);
    border-radius: 10px;
    margin-top: -30px;
    margin-left: -15px;
    height: 40px;
    width: 130px;
    text-align: center;
    font-size: 19px;
}

label {
    text-align: center;
    color: white;
    font-size: 19px;
    position: fixed;
    top: 45px;

}

#ordenacao {
    float: right;
    top: 40%;
    right: 90%;
    position: fixed
}

/*input {
    background-color: rgb(0, 255, 26);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3vw;
    position: absolute;
    top: 20vw;
    left: 3vw;
    display: inline-block;
    border: 0.2vw solid #ffffff;
    border-radius: 1vw;
    padding: 0.5vw;
}*/

p {
    color: white;
    text-align: center;
    margin-bottom: 3px;

}

h2 {
    color: white;
    font-size: 1.2vw;
    text-align: center;
    margin-top: -12px;
    margin-bottom: 5px;

}

.caracter {
    border-radius: 10px;
    margin: 90px;
    margin-bottom: -12px;
    margin-left: 20px;
    width: 250px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.425);
    box-shadow: 0 0 18px rgb(255, 255, 255);
    z-index: -2;
    transform: scaleY(1.1);
}



#root {
    display: flex;
    flex-wrap: wrap;
    padding-top: 95px;
    justify-content: center;
    margin-left: 100px;
    margin-right: 10px;
    padding-bottom: 50px;
}


#root img {
    width: 180px;
    height: 230px;
    margin: 15px;
    transform: scaleX(1.2);
}


@media (max-width: 768px) {
    .botãoiniciar {
        width: 15vw;
        font-size: 3vw;
        height: 5vw;

    }
}


@media (max-width: 768px) {
    .imagem1 {
        width: 80%;
        margin-top: 25%;
        margin-left: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .imagem2 {
        width: 70%;
        margin-left: 17%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}